@import "../../styles/variables";

.shoppingCart {
  padding: 0 4vh 0 4vh;
}

.titleOfCartDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ordersAndDetailsDiv {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  gap: 4vh;
}

.orderDetailsDiv {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-color: #f1f3f4;
  border-radius: 6px;
  padding: 3vh;
}

.orderDetails {
  font: {
    family: $fontMontserrat;
    weight: 700;
    size: 40px;
  }
  color: $thisBlackColor;
}

.itemCounter,
.total {
  font: {
    family: $fontMontserrat;
    weight: 500;
    size: 52px;
  }
  color: $thisDarkGrayColor;
}

.totalDiv {
  display: flex;
  justify-content: space-between;
}

.totalPrice {
  font: {
    family: $fontMontserrat;
    weight: 700;
    size: 70.4px;
  }
  color: $thisBlackColor;
}

.inputNameCart,
.inputPhoneCart,
.inputEmailCart {
  padding: 3vh;
  font: {
    family: $fontMontserrat;
    weight: 500;
    size: 20px;
  }
  color: $thisDarkGrayColor;
  border-radius: 6px;
  border: solid 1px $thisGrayColor;
}

.orderBtnCart {
  @include stylesForGreenBtn;
  background-color: $thisGreenColor;
  padding: 2vh 0 2vh 0;
  width: 100%;
}

.itemsDiv {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
