@import "../../styles/variables";

@include noStyles;

.allProductsPage {
  padding: 4vh 4vh 5vh 4vh;

  .productsBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    white-space: nowrap;
    align-items: center;
    gap: 4vh;
    padding: 4vh 0 4vh 0;
  }
}

@media (max-width: 400px) {
  .allProductsPage {
    padding: 2vh 2vh 3vh 2vh;
    .productsBlock {
      display: grid;
      grid-template-columns: 0.7fr 0.7fr;
      gap: 2vh;
      padding: 2vh 0 2vh 0;
    }
  }
}
// @media (max-width: 768px) {
// }
// @media (max-width: 1024px) {
// }
// @media (max-width: 1440px) {
// }
// @media (max-width: 1920px) {
// }
