* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.allProductsPage {
  padding: 4vh 4vh 5vh 4vh;
}
.allProductsPage .productsBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4vh 1fr 4vh 1fr 4vh 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4vh;
  padding: 4vh 0 4vh 0;
}
.allProductsPage .productsBlock .productsLoading {
  font-family: "Montserrat", sans-serif;
  font-size: 96;
  font-weight: 600;
  color: #282828;
}
.allProductsPage .productsBlock .productsError {
  font-family: "Montserrat", sans-serif;
  font-size: 96;
  font-weight: 600;
  color: red;
}