@import "../../styles/variables";

.allProductsPage {
  padding: 4vh 4vh 5vh 4vh;
}

.productsBlock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  white-space: nowrap;
}

.allProductsLink {
  text-decoration: none;
}

.allProductsBlockDiv {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.allProductsBlockImg {
  position: relative;
  width: 100%;
  height: 100%;
}
