@import "../../styles/variables";

@include noStyles;

.allProductsBlockDiv {
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  border: $thisGrayColor solid 2px;
  position: relative;
  height: 100%;

  .discountBox {
    background-color: $thisGreenColor;
    border-radius: 6px;
    padding: 1vh 2vh 1vh 2vh;
    z-index: 4;

    top: 0;
    right: 0;
    @include w600s20cWhite;
    position: absolute;
  }

  .allProductsBlockImg {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 9px 9px 0 0;
    border-bottom: $thisGrayColor solid 2px;
    cursor: pointer;
  }

  .addToCartBtn {
    position: absolute;
    z-index: 999;
    bottom: 30%;
    left: 0;
    width: 100%;
    @include stylesForGreenBtn;
    padding: 2vh 4vh 2vh 4vh;
  }

  .allProductsBlockP {
    @include w500s20cBlack;
    white-space: wrap;
    cursor: pointer;
  }

  .blockOfPrices {
    display: flex;
    justify-content: flex-start;
    align-items: end;
  }
}

.discountPrice,
.price {
  @include w600s40cBlack;
}

.discountedPrice {
  @include w500s26cDarkGray;
  text-decoration: line-through;
}

.allProductsBlockP,
.discountPrice,
.discountedPrice,
.price {
  padding: 2vh;
  margin: 0;
}

@media (max-width: 400) {
}
@media (max-width: 768) {
}
@media (max-width: 1024) {
}
@media (max-width: 1440) {
}
@media (max-width: 1920) {
}
