* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #282828;
}