@import "../../styles/variables";

@include noStyles;

.home {
  height: 100%;
  position: relative;
  .amazingDiscountsDiv {
    background-image: url(../../assets/images/gardenerAtWork.svg);
    background-size: auto 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    padding: 4vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4%;

    h1 {
      @include w700s96cWhite;
    }

    .checkOutBtn {
      @include stylesForGreenBtn;
      padding: 1% 4% 1% 4%;
    }
  }

  .categories {
    padding: 7vh 4vh 5vh 4vh;

    .categoriesTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }

    .categoriesFiveBlocks {
      margin: 0 15vw 0 15vw;
      padding: 0 10vw 0 10vw;

      .swiperSlideCategories {
        display: flex;
        justify-content: center;
        padding: 4vh;
      }

      .link {
        text-decoration: none;
        overflow: visible;
        border-radius: 6px;

        .categoriesBlockDiv {
          display: flex;
          flex-direction: column;
          gap: 2vh;
          padding: 0 0 4vh 0;
          .categoriesBlocksImg {
            position: relative;
            width: 50vh;
            height: 100%;

            border-radius: 6px 6px 0 0;
          }

          .categoriesBlocksP {
            @include w500s20cBlack;
            text-align: center;
          }
        }
      }

      .link:hover {
        box-shadow: 1px 2px 6px 2px $thisGrayColor;
      }
    }
  }

  .discount {
    padding: 3vh 3vh 0 3vh;
    border-radius: 6px;
    background: linear-gradient(to left, $thisDarkGreenColor, $thisGreenColor);
    margin: 3vh;

    .discountText {
      @include w700s64cWhite;
      text-align: center;
      padding: 1vh;
    }

    .photoAndInputs {
      display: grid;
      grid-template-columns: 1.4fr 1fr;

      .getDiscount {
        display: flex;
        flex-direction: column;

        .inputDiscount {
          border-radius: 6px;
          margin: 1vh;
          padding: 1vh;
          background: transparent;
          border: 2px $thisWhiteColor solid;
          color: $thisWhiteColor;
          outline: none;
          height: 6vh;
          font-size: 27px;
        }

        .inputDiscount::placeholder {
          color: $thisWhiteColor;
        }

        .inputDiscount:focus::placeholder {
          color: $thisGrayColor;
        }

        .btnGetDiscount {
          background-color: $thisWhiteColor;
          border: none;
          margin: 1vh;
          padding: 2vh;
          border-radius: 6px;

          @include w600s20cBlack;
          cursor: pointer;
        }
      }
    }
  }

  .saleTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 4vh;
  }

  .discountedProdFourSwiper {
    display: flex;
    justify-content: center;
    margin: 0 15vw 0 15vw;
    padding: 0 10vw 0 10vw;
    .saleProdSwiperSlide {
      padding: 0 22vh 0 22vh;
    }
  }
}

.errorNotAllFieldsFilled {
  color: red;
  background-color: $thisWhiteColor;
  border-radius: 6px;
  width: fit-content;
  margin: 2vh;
}

@media (max-width: 400) {
}
@media (max-width: 768) {
}
@media (max-width: 1024) {
}
@media (max-width: 1440) {
}
@media (max-width: 1920) {
}
