* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home {
  height: 100%;
  position: relative;
}
.home .amazingDiscountsDiv {
  background-image: url(../../assets/images/gardenerAtWork.svg);
  background-size: auto 100vh;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4%;
}
.home .amazingDiscountsDiv h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 96px;
  color: white;
}
.home .amazingDiscountsDiv .checkOutBtn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 1% 4% 1% 4%;
}
.home .categories {
  padding: 7vh 4vh 5vh 4vh;
}
.home .categories .categoriesTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.home .categories .categoriesFiveBlocks {
  margin: 0 15vw 0 15vw;
  padding: 0 10vw 0 10vw;
}
.home .categories .categoriesFiveBlocks .swiperSlideCategories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4vh;
}
.home .categories .categoriesFiveBlocks .link {
  text-decoration: none;
  overflow: visible;
  border-radius: 6px;
}
.home .categories .categoriesFiveBlocks .link .categoriesBlockDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vh;
  padding: 0 0 4vh 0;
}
.home .categories .categoriesFiveBlocks .link .categoriesBlockDiv .categoriesBlocksImg {
  position: relative;
  width: 50vh;
  height: 100%;
  border-radius: 6px 6px 0 0;
}
.home .categories .categoriesFiveBlocks .link .categoriesBlockDiv .categoriesBlocksP {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #282828;
  text-align: center;
}
.home .categories .categoriesFiveBlocks .link:hover {
  -webkit-box-shadow: 1px 2px 6px 2px #dddddd;
          box-shadow: 1px 2px 6px 2px #dddddd;
}
.home .discount {
  padding: 3vh 3vh 0 3vh;
  border-radius: 6px;
  background: -webkit-gradient(linear, right top, left top, from(#0b710b), to(#339933));
  background: linear-gradient(to left, #0b710b, #339933);
  margin: 3vh;
}
.home .discount .discountText {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #ffffff;
  text-align: center;
  padding: 1vh;
}
.home .discount .photoAndInputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.4fr 1fr;
  grid-template-columns: 1.4fr 1fr;
}
.home .discount .photoAndInputs .getDiscount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home .discount .photoAndInputs .getDiscount .inputDiscount {
  border-radius: 6px;
  margin: 1vh;
  padding: 1vh;
  background: transparent;
  border: 2px #ffffff solid;
  color: #ffffff;
  outline: none;
  height: 6vh;
  font-size: 27px;
}
.home .discount .photoAndInputs .getDiscount .inputDiscount::-webkit-input-placeholder {
  color: #ffffff;
}
.home .discount .photoAndInputs .getDiscount .inputDiscount::-moz-placeholder {
  color: #ffffff;
}
.home .discount .photoAndInputs .getDiscount .inputDiscount:-ms-input-placeholder {
  color: #ffffff;
}
.home .discount .photoAndInputs .getDiscount .inputDiscount::-ms-input-placeholder {
  color: #ffffff;
}
.home .discount .photoAndInputs .getDiscount .inputDiscount::placeholder {
  color: #ffffff;
}
.home .discount .photoAndInputs .getDiscount .inputDiscount:focus::-webkit-input-placeholder {
  color: #dddddd;
}
.home .discount .photoAndInputs .getDiscount .inputDiscount:focus::-moz-placeholder {
  color: #dddddd;
}
.home .discount .photoAndInputs .getDiscount .inputDiscount:focus:-ms-input-placeholder {
  color: #dddddd;
}
.home .discount .photoAndInputs .getDiscount .inputDiscount:focus::-ms-input-placeholder {
  color: #dddddd;
}
.home .discount .photoAndInputs .getDiscount .inputDiscount:focus::placeholder {
  color: #dddddd;
}
.home .discount .photoAndInputs .getDiscount .btnGetDiscount {
  background-color: #ffffff;
  border: none;
  margin: 1vh;
  padding: 2vh;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #282828;
  cursor: pointer;
}
.home .saleTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 4vh;
}
.home .discountedProdFourSwiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15vw 0 15vw;
  padding: 0 10vw 0 10vw;
}
.home .discountedProdFourSwiper .saleProdSwiperSlide {
  padding: 0 22vh 0 22vh;
}

.errorNotAllFieldsFilled {
  color: red;
  background-color: #ffffff;
  border-radius: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2vh;
}