.categoriesPage {
  padding: 7vh 4vh 5vh 4vh;
}

.pageCatH2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #282828;
}

.categoriesPageTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.categoriesPageBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4vh 1fr 4vh 1fr 4vh 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4vh;
  white-space: wrap;
  padding: 4% 0 4% 0;
}

.catLink {
  text-decoration: none;
  overflow: visible;
  border-radius: 6px;
}

.catLink:hover {
  -webkit-box-shadow: 1px 2px 6px 2px #dddddd;
          box-shadow: 1px 2px 6px 2px #dddddd;
}

.categoriesPageBlockDiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 2vh 1fr;
  grid-template-rows: 3fr 1fr;
  gap: 2vh;
}

.categoriesPageBlocksImg {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 6px 6px 0 0;
}

.categoriesPageBlocksP {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #282828;
}