@import "../../styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vh;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 4vh;
}

.Link {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  font-family: $fontMontserrat;
  color: $thisBlackColor;
}

.cartImgHeader {
  cursor: pointer;
}

.cartLogoDiv {
  position: relative;
}

.itemQuantity {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $thisWhiteColor;
  position: absolute;
  top: 5%;
  left: 1%;
  background-color: $thisGreenColor;
  padding: 14%;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}
