* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4vh;
  width: 100%;
  white-space: nowrap;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 4vh;
}
header .cartLogoDiv {
  position: relative;
}
header .cartLogoDiv .cartImgHeader {
  cursor: pointer;
}
header .cartLogoDiv .itemQuantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  position: absolute;
  top: 5%;
  left: 1%;
  background-color: #339933;
  padding: 14%;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.Link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #282828;
}

@media (max-width: 400px) {
  header {
    padding: 2vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Link {
    font-size: 14px;
    white-space: nowrap;
  }
}