@import "../../styles/variables";

@include noStyles;

.footer {
  padding: 4vh;

  .contactsInfo {
    display: grid;
    grid-template-areas:
      "phone phone socials"
      "address address working-hours";
    padding: 4vh 0 4vh 0;

    gap: 4vh;

    .phone {
      grid-area: phone;

      @include grayRound;
    }

    .socials {
      grid-area: socials;
      @include grayRound;
    }

    .address {
      grid-area: address;
      @include grayRound;
    }

    .workingHours {
      grid-area: working-hours;
      @include grayRound;
    }
  }

  .map {
    border-radius: 10px;
    min-height: 350px;
    width: 100%;
    padding: 0 0 4vh 0;
  }
}

.phoneP,
.socialsP,
.addressP,
.workingHoursP {
  @include w500s20cDarkGray;
  padding-bottom: 2vh;
}

.phoneText,
.addressText,
.workingHoursText {
  @include w600s40cBlack;
}

.twoIconsInSocials {
  display: flex;
  justify-content: flex-start;
  gap: 2vh;
}

@media (max-width: 400px) {
}
@media (max-width: 768px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1920px) {
}
