@import "../../styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  padding: 4vh;
}

.contactsInfo {
  display: grid;
  grid-template-areas:
    "phone phone socials"
    "address address working-hours";
  padding: 4vh 0 4vh 0;

  gap: 4vh;
}

.phone {
  grid-area: phone;

  @include grayRound;
}

.socials {
  grid-area: socials;
  @include grayRound;
}

.address {
  grid-area: address;
  @include grayRound;
}

.workingHours {
  grid-area: working-hours;
  @include grayRound;
}

.phoneP,
.socialsP,
.addressP,
.workingHoursP {
  font: {
    family: $fontMontserrat;
    weight: 500;
    size: 20px;
  }
  color: #8b8b8b;
  padding-bottom: 2vh;
}

.phoneText,
.addressText,
.workingHoursText {
  font: {
    family: $fontMontserrat;
    weight: 600;
    size: 40px;
  }
  color: $thisBlackColor;
}

.twoIconsInSocials {
  display: flex;
  justify-content: flex-start;
  gap: 2vh;
}

.map {
  border-radius: 10px;
  min-height: 350px;
  width: 100%;
  padding: 0 0 4vh 0;
}
