@import "../../styles/variables";

@include noStyles;

.btnsContainer {
  display: flex;
  justify-content: flex-start;
  gap: 3vh;

  .btnToMainPage {
    @include stylesForGrayBtn;
    margin: 7vh 0 7vh 0;
  }
}

@media (max-width: 400) {
}
@media (max-width: 768) {
}
@media (max-width: 1024) {
}
@media (max-width: 1440) {
}
@media (max-width: 1920) {
}
