@import "../../styles/variables";

.btnsContainer {
  display: flex;
  justify-content: flex-start;
  gap: 3vh;
  padding-bottom: 2vh;
  padding: 7vh 4vh 5vh 4vh;
}

.linkToMainPage {
  text-decoration: none;
}

.btnToMainPage {
  @include stylesForGrayBtn;
}
