@import "../../styles/variables";

@include noStyles;

.oneProduct {
  margin: 4vh;

  .navButtonsDiv {
    display: flex;
    justify-content: flex-start;
  }

  .oneProductDiv {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items: center;
    max-height: 80vh;
    overflow: hidden;

    .oneProductImg {
      height: 100%;
      width: auto;
      border-radius: 9px;
    }
  }
}

.titleOfTheProduct {
  @include w700s40cBlack;
}

.divOfAllPrices {
  margin: 4vh 0 4vh 0;
  position: relative;
  display: flex;
  justify-content: flex-start;

  .blockOfPrices {
    display: flex;
    justify-content: flex-start;
    gap: 2vh;
    align-items: end;

    .discountedPrice {
      text-decoration: line-through;
      @include w500s40cDarkGray;
    }
  }

  .priceBox {
    right: 60%;
    bottom: 55%;
    background-color: $thisGreenColor;
    color: $thisWhiteColor;
    border-radius: 6px;
    padding: 1vh 2vh 1vh 2vh;
    position: absolute;
    @include w600s20cWhite;
  }
}

.discountPrice {
  @include w700s64cBlack;
}

.buttonsOfProduct {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4vh;

  .addToCartBtn {
    @include stylesForGreenBtn;
    background-color: $thisGreenColor;
  }
}

.quantity,
.descriptionP {
  padding: 4vh 0 4vh 0;

  @include w600s20cBlack;
}

.description {
  @include w600s16cBlack;
  text-align: start;
}

@media (max-width: 400) {
}
@media (max-width: 768) {
}
@media (max-width: 1024) {
}
@media (max-width: 1440) {
}
@media (max-width: 1920) {
}
