* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.oneProduct {
  margin: 4vh;
}
.oneProduct .navButtonsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.oneProduct .oneProductDiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 4vh 1fr;
  grid-template-columns: 1.5fr 1fr;
  gap: 4vh;
  justify-items: center;
  max-height: 80vh;
  overflow: hidden;
}
.oneProduct .oneProductDiv .oneProductImg {
  border-radius: 9px 0 0 9px;
}

.titleOfTheProduct {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #282828;
}

.divOfAllPrices {
  margin: 4vh 0 4vh 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.divOfAllPrices .blockOfPrices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.divOfAllPrices .blockOfPrices .discountedPrice {
  text-decoration: line-through;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #8b8b8b;
}
.divOfAllPrices .priceBox {
  right: 60%;
  bottom: 55%;
  background-color: #339933;
  color: #ffffff;
  border-radius: 6px;
  padding: 1vh 2vh 1vh 2vh;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

.discountPrice {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #282828;
}

.buttonsOfProduct {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4vh 2fr;
  grid-template-columns: 1fr 2fr;
  gap: 4vh;
}
.buttonsOfProduct .addToCartBtn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #339933;
}

.quantity,
.descriptionP {
  padding: 4vh 0 4vh 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #282828;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #282828;
  text-align: start;
}