* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.oneCategoryDiv {
  margin: 4vh;
}

.navigationBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.oneCategoryProductsBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4vh 1fr 4vh 1fr 4vh 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4vh;
  padding: 4vh 0 4vh 0;
}