@import "../../styles/variables";

@include noStyles;

.notFound {
  padding: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pageNotFound {
    @include w700s64cBlack;
    margin: 2%;
  }

  .pOfTheError {
    margin: 2%;

    @include w500s20cDarkGray;
    text-align: center;
  }
}

.btnGoHome {
  @include stylesForGreenBtn;
  padding: 2vh 4vw 2vh 4vw;
  margin: 2%;
  white-space: nowrap;
}

@media (max-width: 400) {
}
@media (max-width: 768) {
}
@media (max-width: 1024) {
}
@media (max-width: 1440) {
}
@media (max-width: 1920) {
}
