* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.notFound {
  padding: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.notFound .pageNotFound {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #282828;
  margin: 2%;
}
.notFound .pOfTheError {
  margin: 2%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #8b8b8b;
  text-align: center;
}

.btnGoHome {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 2vh 4vw 2vh 4vw;
  margin: 2%;
  white-space: nowrap;
}